<h2>Robots</h2>
<div class="robots">
  <div *ngFor="let robot of robots">
    <a routerLink="/robots/{{robot.id}}">
      <h2>{{ robot.title | uppercase}} Details</h2>
      <div>
        <label>Title:</label> {{robot.title}}
      </div>
      <div>
        <label>Description:</label> {{robot.description}}
      </div>
      <div>
        <label>Price:</label> {{robot.price}} &#8364;
      </div>
    </a>
    <button class="delete" title="buy robot" (click)="deleteRobot(robot)">Buy Robot</button>
  </div>
</div>
<button class="add" routerLink="/robots/0">Add robot</button>
